---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v2/rate/USD/BRL?date=2024-01-15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 16 Jul 2026 22:53:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2024-01-15","base":"USD","quote":"BRL","rate":4.8677}'
  recorded_at: Thu, 16 Jul 2026 22:59:07 GMT
recorded_with: VCR 6.3.1
