---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v2/rates?base=EUR&from=2024-01-01&quotes=BRL&to=2024-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9270c8f60c0b5d0b8fc788328e8ea073"
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2024-01-01","base":"EUR","quote":"BRL","rate":5.3664},{"date":"2024-01-02","base":"EUR","quote":"BRL","rate":5.3707},{"date":"2024-01-03","base":"EUR","quote":"BRL","rate":5.3763},{"date":"2024-01-04","base":"EUR","quote":"BRL","rate":5.3729},{"date":"2024-01-05","base":"EUR","quote":"BRL","rate":5.3594},{"date":"2024-01-06","base":"EUR","quote":"BRL","rate":5.3582},{"date":"2024-01-07","base":"EUR","quote":"BRL","rate":5.3584},{"date":"2024-01-08","base":"EUR","quote":"BRL","rate":5.3425},{"date":"2024-01-09","base":"EUR","quote":"BRL","ra[...]
