<%= render DS::Dialog.new(reload_on_close: true) do |dialog| %>
  <%
    title = if @rule.name.present?
              t(".title_named", name: @rule.name)
            else
              t(".title")
            end
  %>
  <% dialog.with_header(title: title) %>

  <% dialog.with_body do %>
    <%
      resource_count = @rule.affected_resource_count
      resources = tag.span(
        "#{resource_count} #{t("rules.resource_types.#{@rule.resource_type}", count: resource_count)}",
        class: "text-primary font-medium"
      )
    %>
    <p class="text-secondary text-sm mb-4">
      <%= t(".body_html", resources: resources) %>
    </p>

    <%= render DS::Button.new(
      text: t(".submit"),
      href: apply_rule_path(@rule),
      method: :post,
      full_width: true,
      data: { turbo_frame: "_top" }) %>
  <% end %>
<% end %>
